

#book{
    background-color: #271313 !important;
    color: #ffc9c9;
    padding: 35px 0;
    text-align: center;
    
}

@media screen and (max-width: 480px) {
    #book{
        width: 130%;
    }

  }