#home{
    margin-top: $m_top;
}
.createButton{
    background-color: $color6;
    color: $color1;
    border: none;
    padding: 3px;
    border-radius: 1rem;
    font-size: 1.5rem;
}
.edit-button{
    background-color: #fef2f2;
    // color: $color1;
    border: none;
    // padding: 0 1.6rem;
    // border-radius: 5px;
}
.delete-button{
    background-color: #fef2f2;
    // color: $color1;
    border: none;
    // padding: 0 10px;
    // border-radius: 5px;
}

@media screen and (max-width: 480px) {
    #home{
        width: 130%;

    }

  }